body{
    margin: 0;
    padding: 0;
    background: url("Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}


.menu{
    position: fixed;
    width: 100%;
    background-color: lightgray;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    left:0;
    z-index: 1;
}
.logo img{
    height: 60px;
    width: 60px;
}

.menu-main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    list-style: none;
}


.menu-main a{
    text-decoration: none;
}

.social a img{
    height: 50px;
}


.h1{
    color: rgb(11,58,100);
    margin-top: 80px;
    width: 100%;
    text-align: center;
    animation: RollIn 2s;
    font-family: 'Roboto', sans-serif;
}

.Slides{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    margin-top: 25px;
    margin-bottom: 50px;
    animation: RollIn 2s;
}

.Slide {
    display: none;
    height: 675px;
    width: 750px
}
.Slidebutton{
    cursor: pointer;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content{
    display: block;
}

.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    animation: RollIn 2s;
}

.products{
    margin-top: 100px;
    text-align: center;
    border:0px solid;
    border-radius: 20px;
    width: 200px;
    box-shadow: 25px 20px 15px rgba(0,0,0,0.5);
    background-color: white;
    transition: transform ease 0.5s;
    

}

.products:hover{
    transform: scale(1.1);
}

.products:hover p{
    color: rgb(11,58,100);
    text-decoration: underline;
}

.products:hover h1{
    text-decoration: underline;
}

.products img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
}

.products h1{
    font-size: 20px;
    color: rgb(11,58,100);
    font-family: 'Indie Flower', cursive;
}


.products p{
    font-weight: bold;
}

.buy{
    background-color:rgb(11,58,100);
    padding: 5px;
    margin: 3px 75px;
    border-radius: 30px;
}

.buy a{
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}


footer{
    margin-top: 50px;
    text-align: center;
    background-color: lightgray;
    bottom: 0;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    
}

.footer-items{
    color: white;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

.footer-logo{
    display: flex;
    justify-content: space-evenly;
}

.footer-logo img{
    height: 50px;
    margin: 10px;
    transition: transform ease 0.5s;
}

.footer-logo img:hover{
    transform: scale(1.2);
}


.product{
    display: flex;
    margin-top: 50px;
    animation: RollIn 1.5s;
}

.img img{
    width: 775px;
    height: 725px;
}


.text{
    margin-top: 50px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.text h1{
    font-size: 35px;
    color: rgb(11,58,100);
}

.text select{
    width: 52px;
}

.text a{
    margin-top: 25px;
    background-color:rgb(11,58,100);
    width: 85px;
    border-radius: 25px;
    font-size: 30px;
    color: black;
    text-decoration: none;
    transition: transform ease 0.5s;
    font-family: 'Merriweather', serif;
}

.text a:hover{
    transform: scale(1.2);
}

.Info ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
 
}
.Info ul li{
    font-size: 18px;

}

.Info h1{
    color:  rgb(11,58,100);
    font-size: 30px;
}



.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 80px;
    animation: RollIn 2s;
}


.about-us img{
    border-radius: 50%; 
    border: solid white 4px;
    height: 250px;
    width: 250px;
    
}

.about-us-text h1{
    color:  rgb(11,58,100);
}

.about-us-text a{
    text-decoration: none;
    animation: rainbow 15s;
    animation-iteration-count: infinite;
}

.about-us-text p{
    font-size: 20px;
}


.thanks-you{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thanks-you h1{
    font-family: 'Indie Flower', cursive;
    font-size: 65px;
    animation: rainbow 15s;
    animation-iteration-count: infinite
}

.thanks-you a{
    text-decoration: none;
    animation: rainbow 15s;
    animation-iteration-count: infinite;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
}

.thanks-you a:hover{
    text-decoration: underline;
}



@keyframes RollIn{
    0% {
        opacity: 0;
        transform: translate3d(-10%, 0, 0) ;
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes rainbow{
    0% {
        color: #d65c97;
    }
    5% {
        color: #5cd666;
    }
    10% {
        color: #a55cd6;
    }
    15% {
        color: #5c7cd6;
    }
    20% {
        color: #d65c7a;
    }
    25% {
        color: #81d65c;
    }
    30% {
        color: #835cd6;
    }
    35% {
        color: #685cd6;
    }
    40% {
        color: #5c9dd6;
    }
    45% {
        color: #5cd670;
    }
    50% {
        color: #d6625c;
    }
    55% {
        color: #d6835c;
    }
    60% {
        color: #d6605c;
    }
    65% {
        color: #be5cd6;
    }
    70% {
        color: #5c8dd6;
    }
    75% {
        color: #95d65c;
    }
    80% {
        color: #d69d5c;
    }
    85% {
        color: #d65c81;
    }
    90% {
        color: #5cd666;
    }
    95% {
        color: #d67e5c;
    }
    100% {
        color: #64d65c;
    }
}